
@media (max-width: 767px) {


/* start header */
.header #toggle {
    display: block;
}

.header .links {
    display: none;
}

.header .links.open {
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    flex-direction: column;
    background-color: #454545;
}


















}

